<head>
<!-- Required Fremwork -->
<link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap/css/bootstrap.min.css">
<!-- Chartlist chart css -->
<link rel="stylesheet" href="assets/plugins/chartist/dist/chartist.css" type="text/css" media="all">
<!-- Weather css -->
<link href="assets/css/svg-weather.css" rel="stylesheet">
<!-- Style.css -->
<link rel="stylesheet" type="text/css" href="assets/css/main.css">
<!-- Responsive.css-->
<link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
</head>
<body>

    <div class="content-wrapper">
        <div class="container" style="margin: 5%; padding:30px; background-color: lightsteelblue;">
            <div class="row">
                <div class="col-12">
                    <div class=" card-block bg-white">
                        <form class="md-float-material" action="index.html">
                            <div class="text-center">
                                <img src="assets/images/logoGoEvent.png" alt="logo">
                            </div>
                            <h3 class="text-center txt-primary" style="margin-top: 30px;">Ajouter un Evenement</h3>
                            <br><br>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="md-input-wrapper">
                                        <input type="text" class="md-form-control" required="" >
                                        <label>Nom de l'evenement</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="md-input-wrapper">
                                        <input type="text" class="md-form-control" required="">
                                        <label>Theme</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="md-input-wrapper">
                                        <input type="text" class="md-form-control" required="">
                                        <label>Type d'evenement</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="md-input-wrapper">
                                        <input type="text" class="md-form-control" required="">
                                        <label>Capacité maximale</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="md-input-wrapper">
                                        <input type="text" class="md-form-control" required="">
                                        <label>Description</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="md-input-wrapper">
                                        <input type="text" class="md-form-control" required="">
                                        <label>Info Pratique</label>
                                    </div>
                                </div>
                                <div class="col-md-6" style="align-items: center;">
                                    <div class="md-input-wrapper">
                                        <input type="text" class="md-form-control" required="">
                                        <label>Tarif</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12" style="padding-top:2%;">
                                    <span class="text-muted">Localisation
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="md-input-wrapper">
                                    <input type="text" class="md-form-control" required="">
                                    <label>Adresse</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="md-input-wrapper">
                                    <input type="text" class="md-form-control" required="">
                                    <label>Ville</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="md-input-wrapper">
                                    <input type="text" class="md-form-control" required="">
                                    <label>Code Postal</label>
                                </div>
                            </div>

                            <div class="col-md-6" style="padding-top: 2%;">
                                <label class="form">Date de début</label>
                                <div class="md-input-wrapper">
                                    <input type="date" class="form-control" style="width:30%;" required="">
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-top: 2%;">
                                <label class="form">Date de fin</label>
                                <div class="md-input-wrapper">
                                    <input type="date" class="form-control" style="width:30%;" required="">
                                </div>
                            </div>
                            <div class="col-xs-10 offset-xs-5" style="padding-top:4%;">
                                <button type="submit"
                                    class="btn btn-primary btn-md btn-block waves-effect waves-light m-b-20"
                                    style="width:20%;">Ajouter
                                </button>
                            </div>
                        </form>
                        <!-- end of form -->
                    </div>
                    <!-- end of login-card -->
                </div>
                <!-- end of col-sm-12 -->
            </div>
            <!-- end of row-->
        </div>
    </div>
</body>