.dashboard-users {
    background-color: #fff;
    color: #777;
    padding: 15px; }

.dashboard-total-users {
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px; }

.btn-yellow{background-color:#ffff99;color: black;}
.btn-yellow:hover{color:blue;}

.btn-red{background-color:#ff6666;color: black;}
.btn-red:hover{color:blue;}